body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.message {
  height: 60px;
  display: flex;
  align-items: center;
  color: white;
  font-size: 17px;
}

.transition {
  transition: 0.6s
}
