<% include ../partials/header %>
  <nav class="navbar">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Kaioo's Blog</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">Lorem Ipsum</a></li>
        <li><a href="#">Lorem Ipsum</a></li>
        <li><a class="btn red darken-4" href="/logout">Logout</a></li>
      </ul>
    </div>
  </nav>
  </br>
  <div class="row" id="add-card">

  </div>
  <div class="row" style="display: flex; justify-content: center; margin-top: 100px;">
    <a href="/create" class="waves-effect waves-light btn teal darken-3">Add Article</a>
  </div>
<% include ../partials/footer %>
