<% include ../partials/header %>
  <nav class="navbar">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Kaioo's Blog</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">Lorem Ipsum</a></li>
        <li><a href="#">Lorem Ipsum</a></li>
        <li><a href="#">Lorem Ipsum</a></li>
      </ul>
    </div>
  </nav>
  </br>
  <table class="table table-bordered">
    <thead style="background-color: #ccff99;">
      <th>Id</th>
      <th>Todo</th>
      <th>Completed</th>
      <th>Action</th>
    </thead>
    <tbody id="add-todo">

    </tbody>
  </table>
  <br/>
  <label>Add Todo</label>
  <br/><br/>
  <input style="width:30%; padding:5.5px; border-radius:3px;" type="text" name="create" placeholder="Write something..">
  <button type="submit" class="btn btn-success" onclick="createTodo()">Create</button>
<% include ../partials/footer %>
