<div id="modal1" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Delete this article?</h4>
    <p>Deleting this article will permanently remove it from your list.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="modal-action modal-close waves-effect waves-green btn-flat">No, keep article</a>
    <button id="confirm_delete" type="button" class="modal-action modal-close waves-effect waves-green btn-flat" onclick="deleteArticle()">Yes, delete article</a>
  </div>
</div>
